In [1]:
#import pandas, numpy, and os libraries
import pandas as pd
import numpy as np
import os
path = r'C:\Users\joelf\OneDrive\Documents\CareerFoundry\4 Python\Instacart Data'

In [2]:
#Import .pkl
ord_prod_named = pd.read_pickle(os.path.join(path, 'NewDataSets' ,'orders_products_combined.pkl'))
ord_prod_named.shape

(32404859, 15)

In [3]:
ord_prod_named.loc[ord_prod_named['prices'] > 15, 'price_label'] = 'high_range product'
ord_prod_named.loc[ (ord_prod_named['prices'] <= 15) & (ord_prod_named['prices'] > 5), 'price_label'] = 'mid_range product'
ord_prod_named.loc[ord_prod_named['prices'] <=5, 'price_label'] = 'low_range product'
ord_prod_named['price_label'].value_counts(dropna = False)

mid_range product     21860860
low_range product     10126321
high_range product      417678
Name: price_label, dtype: int64

In [4]:
#count number of orders on each day
ord_prod_named['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [5]:
#oraganize into busy, slow, normal days
result = []

for value in ord_prod_named["orders_day_of_week"]:
  if value == 0: #saturday
    result.append("busiest day")
  elif value == 4: #wednesday
    result.append("slowest day")
  else:
    result.append("normal day")

ord_prod_named['busiest_day'] = result

#count number of busy, slow, and normal days
ord_prod_named['busiest_day'].value_counts(dropna = False)

normal day     22416875
busiest day     6204182
slowest day     3783802
Name: busiest_day, dtype: int64

In [6]:
#2
#organize into 2 busiest and 2 slowest days
result2 = []

for value in ord_prod_named["orders_day_of_week"]:
  if (value == 0) or (value == 1): #saturday or sunday
    result2.append("busiest day")
  elif (value == 3) or (value == 4): #tuesday or wednesday
    result2.append("slowest day")
  else:
    result2.append("normal day")

ord_prod_named['two_busiest_days'] = result2
ord_prod_named['two_busiest_days'].value_counts(dropna = False)

normal day     12916111
busiest day    11864412
slowest day     7624336
Name: two_busiest_days, dtype: int64

In [7]:
#3 check outputs
ord_prod_named.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,repeat_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_label,busiest_day,two_busiest_days
0,2539329,1,1,2,8,NaN,0,196,1,0,Soda,77,7,9.0,both,mid_range product,normal day,normal day
1,2398795,1,2,3,7,15.0,1,196,1,1,Soda,77,7,9.0,both,mid_range product,normal day,slowest day
2,473747,1,3,3,12,21.0,1,196,1,1,Soda,77,7,9.0,both,mid_range product,normal day,slowest day
3,2254736,1,4,4,7,29.0,1,196,1,1,Soda,77,7,9.0,both,mid_range product,slowest day,slowest day
4,431534,1,5,4,15,28.0,1,196,1,1,Soda,77,7,9.0,both,mid_range product,slowest day,slowest day

Based on the .head function and the .value_counts function the code seems to have worked

In [8]:
#4
# count number of orders on each hour
ord_prod_named['order_time'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_time, dtype: int64

In [9]:
#4
#oraganize hours into most orders, average orders, fewest orders in column busiest_period_of_day
#organized by two busiest and 2 least busy hours
hours = []

for value in ord_prod_named["order_time"]:
  if (value == 10) or (value == 11):
    hours.append("most orders")
  elif (value == 3) or (value == 4):
    hours.append("fewest orders")
  else:
    hours.append("average orders")

ord_prod_named['busiest_hours'] = hours

#5
#count number of busy, slow, and normal days
ord_prod_named['busiest_hours'].value_counts(dropna = False)

average orders    26802436
most orders        5497900
fewest orders       104523
Name: busiest_hours, dtype: int64

In [10]:
#7
#export as .pkl
ord_prod_named.to_pickle(os.path.join(path, 'NewDataSets', 'orders_products_combined.pkl'))