In [1]:
#import pandas, numpy, and os libraries
import pandas as pd
import numpy as np
import os
path = r'C:\Users\joelf\OneDrive\Documents\CareerFoundry\4 Python\Instacart Data'

In [2]:
#import now formated Orders dataset (see formating in 4.4)
orders = pd.read_csv(os.path.join(path, 'NewDataSets' ,'orders_wrangled.csv'), index_col = 0)

#import ords_prior
ords_prior = pd.read_csv(os.path.join(path, 'order_products__prior', 'order_products__prior.csv'), index_col= False)

In [3]:
orders.head(5)

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,repeat_customer
0,2539329,1,1,2,8,NaN,0
1,2398795,1,2,3,7,15.0,1
2,473747,1,3,3,12,21.0,1
3,2254736,1,4,4,7,29.0,1
4,431534,1,5,4,15,28.0,1

In [4]:
ords_prior.head(5)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
#1
#merge datasets on order_id and check indicator to make sure all were full match
merged_large = orders.merge(ords_prior, on = 'order_id', indicator= True)
merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [6]:
merged_large.shape

(32434489, 11)

In [7]:
#2
#export as pickle instead of csv (pickle export took 17s, csv export took 85s)
merged_large.to_pickle(os.path.join(path, 'NewDataSets', 'orders_products_prior_combined.pkl'))